<footer class="container-fluid">
<div class="row mt-5 mb-5 ">
<div class="col-md-8 mx-auto text-center p-3 p-md-5">
<h3 class="display-4"><strong><a href="{{SITEURL}}" title="{{SITENAME}} {{SITESLOGAN}}">{{ SITESLOGAN }}</a></strong></h3>
<p>{{SITE_INTRO}}</p>
{% for title in FOOTER_AREA %}<p>{{title}}<br/></p>{% endfor %}
<div class="row mt-5">
{% for title, link in MENUITEMS %}<a href="{{link}}" class="col-3" title="{{title}} {{SITENAME}}">{{title}}</a>{% endfor %}
</div>
</div>
</div>
</footer>
<div class="col-md-12 p-1 text-center">
<p><small>
Built with <a href="https://getpelican.com/">Pelican</a> | Develope by <a href="https:/fiverr.com/creativitas">Creativitas</a>
</small></p>
</div>
</body>
</html>